#!/bin/bash
main() {
  layout python
  bindir="$(direnv_layout_dir)/bin"
  mkdir -p "$bindir"
  PATH_add "$bindir"

  # Ruby
  use rbenv
  layout ruby
  gem list -i --silent bundler || gem install bundler -v '< 2'
  watch_file Gemfile
  bundle check || bundle install --deployment
}


main
